
    <link rel="stylesheet" href="/public/css/admin.css">
<body>
    <button id="users">usuarios </button>
    <button id="agregarProducto">nuevo Producto</button>
    <button id="bebidas">bebidas</button>
    <button id="comidas">comidas</button>
    <button id="postres">postres</button>
    <div class = 'containerProducts'></div>

    <script  type="module" src="/public/js/admin.js"></script>
</body>
