<body>
    <h1>usuarios</h1>
    <button id="agregarUsuario">nuevo usuario</button>  
    <div id="containerUsers"></div> <!-- Asegúrate de que el ID es correcto -->
    
    <script type="module" src='/public/js/user.js'></script>
</body>
