body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('../images/fondo-login.jpg');

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

/* Estilo del contenedor del formulario */
.login-container {
    background-color: rgba(255, 255, 255, 0.7); /* Menos opaco */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
}

/* Estilo de los inputs y el botón */
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    border-color: #00a1e4;
    outline: none;
    box-shadow: 0 0 8px rgba(0, 161, 228, 0.4);
}

/* Botón de login */
.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #111314;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-btn:hover {
    background-color: #007bb3;
}

/* Estilo de los labels */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

/* Pequeñas animaciones en la entrada */
.form-group {
    animation: fadeIn 0.8s ease-in-out;
}

/* Animación para el fade-in */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}   